@{
    Layout = "~/Views/Shared/ManagementLayout.cshtml";
}
@model Web.Models.Sanpham

<h4>Tạo mới sản phẩm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSanPham" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Masp" class="control-label">Mã sản phẩm</label>
                <input asp-for="Masp" class="form-control" />
                <span asp-validation-for="Masp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tensp" class="control-label">Tên sản phẩm</label>
                <input asp-for="Tensp" class="form-control" />
                <span asp-validation-for="Tensp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mota" class="control-label">Mô tả</label>
                <input asp-for="Mota" class="form-control" />
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loaisp" class="control-label">Loại sản phẩm</label>
                <input asp-for="Loaisp" class="form-control" />
                <span asp-validation-for="Loaisp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hangsx" class="control-label">Hãng sản xuất</label>
                <input asp-for="Hangsx" class="form-control" />
                <span asp-validation-for="Hangsx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Giaban" class="control-label">Giá bán</label>
                <input asp-for="Giaban" class="form-control" />
                <span asp-validation-for="Giaban" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soluong" class="control-label">Số lượng</label>
                <input asp-for="Soluong" class="form-control" />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinhanh" class="control-label">Hình ảnh</label>
                <input asp-for="Hinhanh" class="form-control" />
                <span asp-validation-for="Hinhanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

